.header-con {
    background-color:#07eff7;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    padding-top: 20px;
  }
  @media screen and (min-width:780px){
    .header-con{
      background-color: transparent;
    }
  }
  .header-website-logo {
    height: 60px;
    width: 80px;
    background-color: transparent;
    margin-left: 10px;
  }

  .tabs-con {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
  }
 
  .list-item{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
    margin-right: 30px;
    cursor: pointer;
  }

  .list-item:hover{
    color: #EDAB9A;
    padding-bottom: 0.3rem;
  }

  @media screen and (max-width: 780px) {
    .header-con {
      display: none;
    }
  }
  

  @media screen and (max-width:780px){
    .header-website-logo{
        height: 60px;
        width: 75px;
    }
  }
  

  
  .header-navbar-con {
    padding: 10px;
    background-color: #046076;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @media screen and (min-width: 780px) {
    .header-navbar-con {
      display: none;
    }
  }
  .menu-icon-btn {
    outline: none;
    color: white;
    border: none;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: transparent;
    cursor: pointer;
  }
  .menu-icon {
    height: 28px;
    width: 28px;
  }
  .menu-icon-btn:hover{
    color:#EDAB9A;
  }
  .header-navbar-tab-con {
    background-color:#046076;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }
  @media screen and (min-width: 780px) {
    .header-navbar-tab-con {
      display: none;
    }
  }
.header-navbar-tabs-con{
    align-self: center;
}
.cross{
    height: 25px;
    width: 20px;
    cursor: pointer;
}
  .cross-icon-btn {
   background-color: transparent;
    border: none;
    width: 30px;
    color: white;
  }
  .cross-icon-btn:hover{
    color: #EDAB9A;
  }
.mobile_li{
    margin-bottom: 8px;
}
.mobile_view_navbar{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}