.img_mani{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
@media screen and (min-width:780px){
    .img_mani{
        width: 450px;
        height: 400px;
        border-radius: 50%;
    }
}
.main_con_about_mani{
    
    display: flex;
    flex-direction: row;
    padding: 10px;
}
@media screen and (max-width:780px){
    .main_con_about_mani{
        display: flex;
        flex-direction: column;
    }
} 
.photo_con{
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.para_1{
    font-family: "Montserrat", sans-serif;
    color: #edab9a;
    line-height: 30px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;

}
.heading_1{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #7a7a7a;
    line-height: 28px;
    font-weight: 400;
    text-align: start;
}
.text_con{
    margin-left: 10px;
}
.last_heading{
    font-family: "Montserrat", sans-serif;
    color: #046076;
    font-weight: 400;
    font-size: 28px;
    text-align: start;
    margin-bottom: 0px;
}
.last_heading2{
    font-family: "Montserrat", sans-serif;
    color: #DBA979;
    font-weight: bold;
    font-size: 32px;
    text-align: start;
    margin-top: 0px;
    margin-bottom: 0px;
}
.mani_2{
        width: 350px;
        height: 350px;
        border-radius: 10px;
}
@media screen and (min-width:780px){
    .mani_2{
        width: 400px;
        height: 400px;
        border-radius: 50%;
}
}
@media screen and (min-width:780px){
    .con_2{
        display: flex;
       }
}
.last_heading3{
    text-align: end;
    color: #046076;
    margin-top: 0px;
    margin-right: 30px;
}